@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  color: white;
  background: black;
  font-family: "Outfit", sans-serif;
}

#navbar h1,
#navbar .nav_empty,
#navbar .nav_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}

#navbar h1 {
  font-size: clamp(16px, 1.458vw, 28px);
}

.nav_right {
  gap: 20px;
}

#navbar a {
  font-size: clamp(16px, 1.458vw, 28px);
  color: #fff;
  text-decoration: none;
  transition: 0.1s;
}

#navbar a:hover {
  transition: 0.1s;
  color: #918aff;
}

#mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

#tableWrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#incomes h2,
#expenses h2 {
  font-family: "Outfit", sans-serif;
}

#incomes .header,
#expenses .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#incomes {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#expenses {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.incomeInput,
.expenseInput {
  width: 70px;
}

#incomeList,
#expenseList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#createExpenseBtn,
#createIncomeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  color: #918aff;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
  background-color: #000000;
  transition: 0.1s;
  border-width: 0;
  padding: 10px;
}

#createExpenseBtn:hover,
#createIncomeBtn:hover {
  color: #fff;
  transition: 0.1s;
}

span{
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

ul{
  display: flex;
  flex-direction: column; 
  align-items: center;           
  list-style-position: outside;
  list-style: decimal;
}

li:marker{
  font-family: "Outfit", sans-serif;
}

.selfDestroyBTN{
  cursor: pointer;
}
/* mobile */

@media screen and (min-width: 300px) and (max-width:800px) {
  #navbar .nav_right {
    justify-content: right;
    padding-right: 30px;
  }

  #navbar .nav_empty {
    display: none;
  }

  #navbar h1{
    justify-content: left;
    padding-left: 30px;
    width: 50%;
  }

  #tableWrapper{
    flex-direction: column;
  }
}

@media screen and (max-width: 600px){
  .incomeName, .expenseName{
    width: 40%;
  }

  .incomeInput, .expenseInput{
    width: 25%;
  }

  .selfDestroyBTN{
    width: 20%;
  }
}
